In [1]:
import pandas as pd
import os

In [2]:
df = pd.read_csv("visual-taxonomy/train.csv")

In [4]:
uniNames = df["Category"].unique()

In [8]:
df.head()

,id,Category,len,attr_1,attr_2,attr_3,attr_4,attr_5,attr_6,attr_7,attr_8,attr_9,attr_10
0,0,Men Tshirts,5,default,round,printed,default,short sleeves,NaN,NaN,NaN,NaN,NaN
1,1,Men Tshirts,5,multicolor,polo,solid,solid,short sleeves,NaN,NaN,NaN,NaN,NaN
2,2,Men Tshirts,5,default,polo,solid,solid,short sleeves,NaN,NaN,NaN,NaN,NaN
3,3,Men Tshirts,5,multicolor,polo,solid,solid,short sleeves,NaN,NaN,NaN,NaN,NaN
4,4,Men Tshirts,5,multicolor,polo,solid,solid,short sleeves,NaN,NaN,NaN,NaN,NaN

In [7]:
import shutil

In [23]:
for name in uniNames:
    # print(name)
    df_cat = df[df["Category"]==name]
    try:
        os.mkdir(name)
    except:
        print("exists")
    for file_id in df_cat["id"]:
        Fid =("0"*(6-len(str(file_id)))) + str(file_id)
        shutil.copy("/notebooks/visual-taxonomy/train_images/"+str(Fid)+".jpg","./"+name+"/"+str(Fid)+".jpg")
    #     break
    # break