In [1]:
import pandas as pd

# Read Parquet file into a DataFrame
df = pd.read_parquet('category_attributes.parquet')

# Display the first few rows
# df.to_csv("categories.csv")

In [2]:
df.head()

,Category,No_of_attribute,Attribute_list
0,Men Tshirts,5,"[color, neck, pattern, print_or_pattern_type, ..."
1,Sarees,10,"[blouse_pattern, border, border_width, color, ..."
2,Kurtis,9,"[color, fit_shape, length, occasion, ornamenta..."
3,Women Tshirts,8,"[color, fit_shape, length, pattern, print_or_p..."
4,Women Tops & Tunics,10,"[color, fit_shape, length, neck_collar, ocassi..."

In [6]:
print(df.iloc[0,2])

['color' 'neck' 'pattern' 'print_or_pattern_type' 'sleeve_length']

In [9]:
import json
import numpy as np
d={}
for i in range(len(df)):
    if df.iloc[i,0] not in d:
        d[df.iloc[i,0]]=[]
    print(df.iloc[i,2])
    d[df.iloc[i,0]]=df.iloc[i,2].tolist()
print(d)
with open("categories.json","w") as f:
    json.dump(d,f)

['color' 'neck' 'pattern' 'print_or_pattern_type' 'sleeve_length']
['blouse_pattern' 'border' 'border_width' 'color' 'occasion'
 'ornamentation' 'pallu_details' 'pattern' 'print_or_pattern_type'
 'transparency']
['color' 'fit_shape' 'length' 'occasion' 'ornamentation' 'pattern'
 'print_or_pattern_type' 'sleeve_length' 'sleeve_styling']
['color' 'fit_shape' 'length' 'pattern' 'print_or_pattern_type'
 'sleeve_length' 'sleeve_styling' 'surface_styling']
['color' 'fit_shape' 'length' 'neck_collar' 'ocassion' 'pattern'
 'print_or_pattern_type' 'sleeve_length' 'sleeve_styling'
 'surface_styling']
{'Men Tshirts': ['color', 'neck', 'pattern', 'print_or_pattern_type', 'sleeve_length'], 'Sarees': ['blouse_pattern', 'border', 'border_width', 'color', 'occasion', 'ornamentation', 'pallu_details', 'pattern', 'print_or_pattern_type', 'transparency'], 'Kurtis': ['color', 'fit_shape', 'length', 'occasion', 'ornamentation', 'pattern', 'print_or_pattern_type', 'sleeve_length', 'sleeve_styling'], 'Women Tshirts': ['color', 'fit_shape', 'length', 'pattern', 'print_or_pattern_type', 'sleeve_length', 'sleeve_styling', 'surface_styling'], 'Women Tops & Tunics': ['color', 'fit_shape', 'length', 'neck_collar', 'ocassion', 'pattern', 'print_or_pattern_type', 'sleeve_length', 'sleeve_styling', 'surface_styling']}